@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-neutral: #0F172A;
  --background-color-happy: #003C6E;
  --background-color-sad: #1E1E1E;
  --background-color-angry: #0A0A14;
}

.neutral {
  --background-color: #0F172A;
}

.happy {
  --background-color: #FFFFFF;
}

.sad {
  --background-color: #1E1E1E;
}

.angry {
  --background-color: #E0F7FA;
}

body {
  background-color: var(--background-color);
}

.header-background-happy{
  background: #3D52D5;
}

.header-background-sad{
  background: #2D2D2D;
}

.header-background-angry{
  background: #81D4FA;
}

.header-background-neutral{
  background: #1E293B;
}

.text-color-happy{
  color: #333333;
}

.text-color-sad{
  color: #FFFFFF;
}

.text-color-angry{
  color: #455A64;
}

.text-color-neutral{
  color: #FFFFFF;
}

.header-text-color-happy{
  color: #FFFFFF;
}

.header-text-color-sad{
  color: #FFFFFF;
}

.header-text-color-angry{
  color: #455A64;
}

.header-text-color-neutral{
  color: #FFFFFF;
}

.primary-color-happy{
  color: #00BFFF;
}

.primary-color-sad{
  color: #6495ED;
}

.primary-color-angry{
  color: #64B5F6;
}

.primary-color-neutral{
  color: #0EA5E9;
}

.border-color-happy{
  border-color: #00BFFF;
}

.border-color-sad{
  border-color: #6495ED;
}

.border-color-angry{
  border-color: #64B5F6;
}

.border-color-neutral{
  border-color: #0EA5E9;
}

.secondary-color-neutral{
  color: #334155;
}

.secondary-color-happy{
  color: #87CEEB;
}

.secondary-color-sad{
  color: #395385;
}

.secondary-color-angry{
  color: #B0BEC5;
}

.tertiary-color-neutral{
  color: #475569;
}

.tertiary-color-happy{
  color: #95a1e9;
}

.tertiary-color-sad{
  color: #6d6d6d;
}

.tertiary-color-angry{
  color: #3c7e9c;
}

.border-radius-neutral{
  border-radius: 0.75rem;
}

.border-radius-happy{
  border-radius: 0.75rem;
}

.border-radius-sad{
  border-radius: 0;
}

.border-radius-angry{
  border-radius: 0;
}

.border-radius-skills-neutral{
  border-radius: 1.5rem;
}

.border-radius-skills-happy{
  border-radius: 1.5rem;
}

.border-radius-skills-sad{
  border-radius: 0;
}

.border-radius-skills-angry{
  border-radius: 0;
}

.font-neutral{
  font-family: ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.font-happy{
  font-family: ui-serif,
      Georgia,
      "Times New Roman",
      Times,
      serif;
}

.font-sad{
  font-family: ui-serif,
      Georgia,
      "Times New Roman",
      Times,
      serif;
}

.font-angry{
  font-family: ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}